* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Sen' , sans-serif;
  /* background-color: #0463AB; */
}

.container {
  max-width: 1920px;
  height: 1200px;
  margin : 0 auto ;
  /* border: 1px solid red; */
  background-color: #0463AB;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-box {
  margin: auto;
  margin-top: 10px;
  width: 1036px;
  height: 601px;
  background-color: white;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 73px;
}

.login-box h2 {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  /* border: 1px solid red; */
  font-size: 48px;
  border-radius: 73px;
  margin-bottom: 60px;
  background-color: white;
}

.login-box label {
  display: flex;
  padding-left: 196px;
  background-color: white;
  font-size: 20px;
  text-transform: regular;
  margin-bottom: 10px;
}
.login-box input {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 672px;
  height: 83px;
  border-radius: 20px;
  font-size: 20px;
  border: none;
  margin-bottom: 40px;
  padding-left: 30px;
  background-color: #D9D9D9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.login-box input:focus {
  outline: #0463AB;
  box-shadow: 0 0 10px #0463AB;
}

/* ---------------------------------- */
/* ---------------------------------- */
/* ---------------------------------- */
.login-box button[type="submit"] {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 672px;
  height: 83px;
  padding: 15px;
  background-color: #0057b8;
  color: white;
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 20px;
}
.login-box button[type="submit"]:hover {
  border: 3px solid #0057b8;
  background-color: white;
  color: #0057b8;
}